{{if .Reactions}}
	{{range $key, $value := .Reactions}}
		<a class="ui label basic{{if $value.HasUser $.ctx.SignedUserID}} blue{{end}} has-emoji" data-content="{{ $key }}" data-action-url="{{ $.ActionURL }}">
			{{if eq $key "hooray"}}
				:tada:
			{{else}}
				{{if eq $key "laugh"}}
					:laughing:
				{{else}}
					:{{$key}}:
				{{end}}
			{{end}}
			{{len $value}}
		</a>
	{{end}}
{{end}}
{{template "repo/issue/view_content/add_reaction" Dict "ctx" $.ctx "ActionURL" .ActionURL }}
